{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قوانین سایت ثبت‌نام کاندیداها</title>
    <link rel="stylesheet" href="{% static 'Rules/styles.css' %}">
</head>
<body>
{% include 'pannel/menu.html' %}
<div class="container">
    <div class="rules_container">
        <section class="rules">
            <h2>۱. شرایط ثبت‌نام</h2>
            <p>برای ثبت‌نام به عنوان کاندیدا در سایت، کاربر باید اطلاعات شخصی صحیح و کامل خود را ارائه دهد. هر کاربر
                مسئول
                صحت و سقم اطلاعات وارد شده در فرم ثبت‌نام می‌باشد و سایت هیچ‌گونه مسئولیتی در قبال اطلاعات نادرست وارد
                شده
                ندارد.</p>

            <h2>۲. رعایت حریم خصوصی</h2>
            <p>اطلاعات کاربران تنها برای اهداف مربوط به ثبت‌نام و اطلاع‌رسانی‌های مرتبط با روند انتخاباتی مورد استفاده
                قرار
                می‌گیرد. اطلاعات شخصی کاربران به هیچ وجه بدون اجازه آنان به افراد یا سازمان‌های ثالث ارائه نمی‌شود مگر
                در
                مواردی که توسط مراجع قانونی الزام شده باشد.</p>

            <h2>۳. مسئولیت استفاده</h2>
            <p>کاندیداها و کاربران موظف هستند به قوانین جمهوری اسلامی ایران در استفاده از این سایت پایبند باشند. هر گونه
                اقدام به تقلب، ارائه اطلاعات نادرست یا انجام فعالیت‌های غیرقانونی منجر به حذف ثبت‌نام و پیگیری قانونی
                خواهد
                شد.</p>

            <h2>۴. حقوق معنوی</h2>
            <p>تمامی محتواها و اطلاعات مندرج در سایت، شامل متون، تصاویر، و طراحی‌ها، متعلق به سایت ثبت‌نام کاندیداها
                می‌باشد
                و استفاده بدون مجوز از آن‌ها ممنوع است.</p>

            <h2>۵. شرایط رد یا تایید ثبت‌نام</h2>
            <p>سایت این حق را برای خود محفوظ می‌دارد که درخواست‌های ثبت‌نام را بر اساس شرایط و قوانین خود بررسی کرده و
                در
                صورت لزوم رد یا تایید کند.</p>

            <h2>۶. مسئولیت محتوای تولیدی</h2>
            <p>محتوایی که توسط کاندیداها برای معرفی خود بارگذاری می‌شود باید مطابق با قوانین کشور و بدون محتوای نامناسب،
                توهین‌آمیز یا گمراه‌کننده باشد.</p>

            <h2>۷. تغییر قوانین</h2>
            <p>این قوانین ممکن است در هر زمان بدون اطلاع قبلی تغییر کند. کاربران موظف هستند به‌طور دوره‌ای از تغییرات
                قوانین
                مطلع شوند.</p>

            <!-- بخش دانلود فایل PDF -->
            <div class="downloadpdf">
                <img>
                <p style="font-weight: bold;">برای تماشای ادامه فایل زیر را دانلود کنید</p>
                <button type="button" data-dl>
                    <span class="dl-icon"></span><span>&#x44;&#x6F;&#x77;&#x6E;&#x6C;&#x6F;&#x61;&#x64;</span>
                </button>

            </div>

        </section>
    </div>
</div>
</div>
<script src="{% static 'Rules/script.js' %}"></script>
</body>
</html>
