<!DOCTYPE html>
<html lang="fa">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درباره ما - ثبت نام کاندیدا</title>
    <link rel="stylesheet" href="{% static 'About/style.css' %}">
</head>
<body>
    {% include 'pannel/menu.html' %}
    <div class="container">
        <div class="about-us">
            <h1>درباره ما</h1>
            <p>
                به وبسایت ثبت نام کاندیدا خوش آمدید!
                ما در این پلتفرم فرصتی را فراهم کرده‌ایم تا افرادی که تمایل به کاندیداتوری در انتخابات دارند، به راحتی و به صورت آنلاین ثبت‌نام کنند.
                هدف ما این است که فرآیند ثبت‌نام را ساده‌تر و دسترسی به اطلاعات کاندیداها را برای عموم مردم امکان‌پذیر نماییم.
            </p>
            <h2>مأموریت ما</h2>
            <p>
                ما معتقدیم که شفافیت و دسترسی آسان به اطلاعات، کلید موفقیت در انتخابات است. به همین دلیل، هدف اصلی ما ایجاد یک بستر امن و قابل اعتماد برای ثبت‌نام کاندیداها و ارائه اطلاعات دقیق و کامل به مردم است.
            </p>
            <h2>خدمات ما</h2>
            <ul>
                <li>ثبت‌نام آنلاین کاندیداها</li>
                <li>ارائه اطلاعات دقیق و به‌روز از کاندیداها</li>
                <li>امکان جستجو و فیلتر کردن کاندیداها بر اساس حوزه انتخاباتی و تخصص</li>
            </ul>
            <h2>چرا ما؟</h2>
            <p>
                ما با تیمی مجرب و با استفاده از تکنولوژی‌های روز دنیا، بهترین تجربه کاربری را برای شما فراهم می‌کنیم. امنیت، سرعت و کارایی از مهم‌ترین ویژگی‌های پلتفرم ما هستند.
            </p>
            <a href="../index.html" class="back-button">
                بازگشت به صفحه اصلی
              </a>
        </div>
       
    </div>
    <script src="{% static 'About/script.js' %}"></script>
</body>
</html>
